/* line 5, /Users/ran/code/Dojit/app/assets/stylesheets/welcome.css.scss */
.social-btn {
  background-color: #82CAFF;
  color: White;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  width: 400px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
